<ion-view title="{{producto.codigo}}">
  <ion-content class="has-header">
        <center><ion-spinner icon="android" ng-show="loadingSpinner"></ion-spinner></center>
        <div class="card">
          <div class="item item-divider">            
            <h2>Descripción</h2>            
          </div>
          <div class="item text-capitalize item-text-wrap" ng-repeat='(k,i) in detail'>
              <b>{{k}}: </b>{{i}}
          </div>
        </div>              
  </ion-content>
</ion-view>