<ion-view title="Productos">
  <ion-content class="has-header" overflow-scroll="true">
      <div class="list">
            <div class="item" ng-click="searchModal()">
                <i class="icon ion-search"></i> Buscar producto
            </div>
            <center><ion-spinner icon="android" ng-show="loadingSpinner"></ion-spinner></center>
            <a class="item" href="#/tab/producto/{{i.id}}" ng-repeat="i in productos">
              {{i.nombre_comercial}}
            </a>
      </div>
  </ion-content>
</ion-view>